#product-list-component {
    display: flex;
}
.template-block{
    border: solid 1px slategrey;
    padding: 3px;
    margin: 3px;
}
.red {
    background-color: deeppink;
}

.yellow {
    background-color: gold;
}