#element-one {
    background-color: darkcyan;
}

#element-two {
    background-color: yellow;
}

#element-three {
    background-color: lightskyblue;
}

#element-four {
    background-color: hotpink;
}

#element-five {
    background-color: greenyellow;
}

#element-six {
    background-color: mediumpurple;
}

#element-seven {
    background-color: darkred;
}

#element-eight {
    background-color: blue;
}

#element-nine {
    background-color: darkslategrey;
}

#box6 {
    display: flex;
}

.container {
    width: 400px;
}

.shape {
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    border-radius: 3px;
}

.text{
    display: table;
    margin: auto;
    font-size: 50px;
    font-family: sans-serif;
    line-height: 100px;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.red {
    background-color: red !important;
}

.hidden {
    display: none;
}

.circle {
    border-radius: 50%;
}

.w-95 {
    width: 95px;
}

.w-100 {
    width: 100px;
}